html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
p,
pre,
del,
em,
img,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
tbody,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
  box-sizing: border-box;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a img {
  border-style: none;
}
ul,
li {
  list-style-type: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/* ===================================
背景,文字,リンク設定
=================================== */

html {
  font-size: 62.5%;
}
body {
  background: #fff; /* 背景色 */
  color: #666; /* 文字色 */
  font-size: 1.4em; /* 文字の大きさ */
  font-family: "Segoe UI", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック体", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    sans-serif;
  line-height: 1.5;
  padding: 20px;
}
/*  パラグラフ
------------------------------ */
.space-A {
  margin: 0 0 3.5em;
}

.space-B {
  margin: 0 0 2.4em;
}

.space-C {
  margin: 0 0 1.4em;
}

.space-D {
  margin: 0 0 0.8em;
}
/*  リンク
------------------------------ */
a {
  color: #666;
}

#contents a,
footer a {
  color: #69c5c5;
}
a:hover {
  background: url(image/back01.gif);
}

/* ===================================
基本
=================================== */

#wrapper {
  margin: 10px auto;
  text-align: left;
  width: 1200px; /* 全体の幅・大きさはここで変更  変更済み*/
}
#contents {
  margin: 10px auto;
  overflow: auto;
}
/*  左のwidthと右のwidthを足して全体の幅を超えないように
------------------------------ */
#leftcolumn {
  float: left;
  line-height: 20px;
  margin: 1em 0;
  width: 330px; /* 左の幅 */
}
#rightcolumn {
  float: right;
  line-height: 20px;
  width: 870px; /* 右の幅 */
}
#leftcolumn-inner,
#rightcolumn-inner {
  margin: 10px;
}
footer {
  padding: 20px 0 0;
  text-align: center;
}
/*  横に線のある枠
------------------------------ */
.rahm01 {
  background: url(image/back01.gif) repeat-y 0 0;
  margin-bottom: 10px;
  padding: 20px;
}
/*  wikiのヘッド
------------------------------ */

/* ===================================*/

.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 300px; /*画像サイズ指定*/
  margin: 0;
  padding: 2px;
  overflow: hidden;
  position: relative;
  outline: 2px solid #cccccc;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}
/*  wikiのメニュー
  
------------------------------ */
.accordion-003 {
  max-width: 750px;
  margin-bottom: 7px;
  border-bottom: 2px solid #cccccc;
}

.accordion-003 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em;
  color: #666666;
  font-weight: 600;
  cursor: pointer;
}

.accordion-003 summary::-webkit-details-marker {
  display: none;
}

.accordion-003 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #666666b3;
  border-right: 3px solid #666666b3;
  content: "";
  transition: transform 0.3s;
}

.accordion-003[open] summary::after {
  transform: rotate(225deg);
}

.accordion-003 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 0.3em 2em 1.5em;
  color: #666666;
  transition: transform 0.5s, opacity 0.5s;
}

.accordion-003[open] p {
  transform: none;
  opacity: 1;
}

/*メニュー
=================================== */

#menu {
  display: block;
  margin: 0 auto;
}
#menu nav li a,
nav li span {
  border-bottom: 1px dotted #666;
  color: #666;
  display: block;
  line-height: 2em;
  padding: 5px 0px;
  position: relative;
}
nav li a:hover {
  background: #69c5c5 url(image/icon01.gif) no-repeat 100% 50%;
  color: #fff;
}
nav li span:hover {
  background: #69c5c5;
  color: #fff;
}
.sub-menu {
  display: none;
  margin: 0;
  overflow: hidden;
}
.sub-menu li {
  text-indent: 1em;
}
/*  メニューの「>」
------------------------------ */
nav li span:after {
  border-top: 3px solid #666; /* 色 */
  border-right: 3px solid #666; /* 色 */
  content: "";
  display: block;
  margin-top: -5px;
  position: absolute;
  height: 5px;
  width: 5px;
  top: 50%;
  right: 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.5s;
}
nav li span.open:after {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#open {
  display: none;
}

/* ===================================
ページ上部へのリンク
=================================== */

/*  位置はscroll.jsで設定 
------------------------------ */
#pagetop {
  background: rgba(105, 197, 197, 0.8); /* 背景 */
  color: #fff; /* 色 */
  height: 50px;
  width: 50px; /* 大きさ */
  border-radius: 30px;
  box-sizing: border-box;
  display: block;
  line-height: 16px;
  padding-top: 25px;
  position: fixed;
  text-align: center;
  z-index: 10;
}
#pagetop:before {
  content: "\25B2";
  font-size: 14px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
}
#pagetop:hover {
  background: rgba(0, 0, 0, 0.6);
}

/* ===================================
見出し、枠、線
=================================== */

h1 {
  background: url(image/icon02.png) no-repeat 0 0;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em;
  min-height: 20px;
  text-indent: 30px;
}
h2 {
  background: url(image/icon03.png) no-repeat;
  border-bottom: 3px solid #666;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  margin: 20px 0;
  text-align: left;
}
h2 span {
  color: #69c5c5;
}
.heading-2 {
  font-size: 1.6em;
  padding: 0 0.4em 0.2em;
  border-bottom: 3px solid #cccccc;

  color: #666;
}
h3 {
  font-size: 1.4em;
  margin: 20px 0;
}
.hidden-word {
  color: transparent;
}
dt {
  clear: both;
  font-weight: 700;
  float: left;
  margin: 0 0 5px;
  width: 140px;
}
dd {
  border-bottom: 1px dotted;
  margin: 0 0 5px 150px;
}
#leftcolumn dt {
  clear: none;
  float: none;
  width: auto;
}
#leftcolumn dd {
  margin-left: 1em;
}
em {
  background: #e5e5e5;
  font-weight: 700;
}
input,
textarea {
  background: #fff;
  border: 1px solid;
  color: #666;
  margin: 3px 0;
  width: 250px;
}
textarea {
  height: 50px;
}
#leftcolumn input,
#leftcolumn textarea {
  width: 100%;
}
hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  height: 1px;
}
.marker {
  background: #69c5c5;
  color: #fff;
  padding: 1px 5px;
}
.dcline {
  border-left: 5px solid #69c5c5;
  margin: 5px 0;
  padding: 3px;
}
.textbox {
  border: 1px dotted #666;
  margin: 10px 0;
  padding: 3px;
  text-align: center;
}
.title {
  color: #ccc;
  font-size: 1.7em;
  font-weight: 700;
  margin: 2em 0;
  text-align: right;
}
.txt {
  border-left: 1px dotted #666;
  margin: 1em;
  padding: 0 0 0 1em;
}
.txt2 {
  border-left: 5px solid #69c5c5;
  margin: 1em;
  padding: 0 0 0 1em;
}
.frame {
  background: #fff;
  border-radius: 3px;
  box-shadow: 4px 4px 0 #e5e5e5;
  padding: 6px;
}
.clear {
  color:transparent;
}
.highlight {
  text-decoration: underline; /* 下線 */
  text-decoration-thickness: 0.5em; /* 線の太さ */
  text-decoration-color:#e5e5e5; /* 線の色 */
  text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
  text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
}
/*   画像の縮小表示
------------------------------ */
img {
  height: auto;
  max-width: 100%;
}
/* 表 */

#main th,
#main td {
  border: solid 1px; /* 枠線指定 */
  padding: 10px; /* 余白指定 */
}

#main table {
  border-collapse: collapse; /* セルの線を重ねる */
  color: #666;
}

#wiki th {
  border: solid 1px #cccccc; /* 枠線指定 */
  padding: 7px; /* 余白指定 */
  background-color: #f3f3f3;
  width: 40%;
}
#wiki td {
  border: solid 1px #cccccc; /* 枠線指定 */
  padding: 7px; /* 余白指定 */
}

#wiki table {
  border-collapse: collapse; /* セルの線を重ねる */
  color: #666;
  width: 750px;
}
#wikipoke th {
  border: solid 1px #cccccc; /* 枠線指定 */
  padding: 7px; /* 余白指定 */
  background-color: #f3f3f3;
}
#wikipoke td {
  border: solid 1px #cccccc; /* 枠線指定 */
  padding: 7px; /* 余白指定 */
}

#wikipoke table {
  border-collapse: collapse; /* セルの線を重ねる */
  color: #666;
  width: 750px;
}

/* ===================================
目次
=================================== */

.toc-002 {
  margin-bottom: 30px;
  padding: 1em 1em 1em 2em;
  border: 2px solid #cccccc;
  border-radius: 3px;
  width: 250px;
}

.toc-002 div {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  background-color: #ffffff;
  color: #666 !important;
  font-weight: 600;
  font-size: 1.3em;
}

.toc-002 ol {
  list-style-type: disc !important;
  margin: 0;
  overflow: hidden;
}

.toc-002 > ol {
  padding: 1em 1em 1em 3em;
}

.toc-002 ol ol {
  margin-top: 5px;
  padding-left: 1.1em;
}

.toc-002 li {
  padding: 5px 0;
  font-weight: 600;
}

.toc-002 ol ol li {
  font-weight: 500;
  font-size: 0.9em;
}

.toc-002 a {
  color: #666 !important ;
  text-decoration: none !important;
}
/* ===================================
横幅800pxで切り替え
=================================== */

@media screen and (max-width: 800px) {
  #wrapper {
    width: 100%;
  }
  #leftcolumn {
    width: 30%;
  }
  #rightcolumn {
    width: 65%;
  }
  input,
  textarea {
    width: 100%;
  }
}

/* ===================================
スマホ、タブレット用
横幅600pxで切り替え
=================================== */

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
    padding: 10px;
  }
  #wrapper {
    width: 100%;
  }
  #leftcolumn,
  #rightcolumn {
    float: none;
    width: 100%;
  }
  #menu nav li a,
  nav li span {
    line-height: 3em;
  }
  dt {
    float: none;
    clear: none;
    width: auto;
  }
  dd {
    margin-left: 1em;
  }

  /* ===================================
スマホ、タブレット用スライド
=================================== */

  /*  スライド
------------------------------ */
  #side {
    background: rgba(0, 0, 0, 0.8); /* 背景色 */
    color: #fff;
    padding: 60px 20px 20px; /* メニューボタン分空ける */
    position: fixed;
    height: 100%;
    width: 300px; /* (*1)同じにする */
    top: 0;
    right: 0;
    -ms-transform: translate(300px); /* (*1)同じにする */
    -webkit-transform: translate(300px); /* (*1)同じにする */
    transform: translate(300px); /* (*1)同じにする */
    transition: all 0.3s;
    z-index: 1000;
  }
  #side-bg {
    background: rgba(51, 51, 51, 0.5); /* 周りの背景色 */
  }
  /*  サイドを開くボタン
------------------------------ */
  #open {
    background: url(image/icon03.png) no-repeat 0 50%;
    display: inline-block;
    padding: 10px;
    position: absolute;
    height: 40px;
    width: 120px; /* 大きさ */
    right: 30px;
    z-index: 1001;
  }
  #leftcolumn:after {
    content: "";
    display: block;
    padding-bottom: 40px; /* #openのheightと同じ */
  }
  #side.open {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  #side-inner {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  #side-bg {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    cursor: pointer;
  }
  #open.buttonclose {
    position: fixed;
    top: 10px;
  }
  .open-text {
    height: 40px;
    margin-left: 20px;
  }
  #open .close + .open-text {
    color: #fff;
  } /* 開いた時の文字色 */
  #open-icon,
  #open-icon:before,
  #open-icon:after {
    background: #666;
  } /* 線の色 */
  #open-icon {
    display: block;
    margin: -1px 0 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 20px;
  }
  #open-icon:before,
  #open-icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 20px;
    transition: 0.3s;
  }
  #open-icon:before {
    margin-top: -8px;
  }
  #open-icon:after {
    margin-top: 6px;
  }
  #open .close {
    background: transparent;
  }
  #open .close:before,
  #open .close:after {
    margin-top: 0;
  }
  #open .close:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
  } /* 開いた時の線の色 */
  #open .close:after {
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #fff;
  } /* 開いた時の線の色 */
}
